@{
    ViewBag.Title = "Index";
}

<div id='timer'style= "display:inline">
    <div id="primarylink"style="width:300px; height:200px;"></div>
    <div id="secondarylink"style="width:300px; height:200px;"></div>
</div>